body {
    font-family: 'Unbounded', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E4E4E4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 102px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid #999;
    padding: 0 20px;
    position: relative; 
}

header .logo {
    width: auto;
    float: left;
    /* position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);  */
}

header .logo img {
    position: relative;
    left: 60px;
    width: 50%; /* Reduces the image width to half */
    height: auto; /* Maintains the aspect ratio */
}

header .menu {
    position: absolute;
    top: 50%;
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center vertically and horizontally */
}

header ul {
    display: flex;
    gap: 56px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 6px;
}

header ul li {
    text-transform: uppercase;
    cursor: pointer;
}

header .contact {
    background-color: violet;
}

header button {
    padding: 10px 15px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.container-reference {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 100%;
    text-align: center;
}

.container img {
    width: auto;
    max-width: 100%;
    height: auto;
}
